* { box-sizing: border-box}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Nunito', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

button {
  font-family: 'Nunito', 'Helvetica Neue'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Storybook styles */
#story-root {
  padding: 20px;
}
